<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>销售管理-渠道客户信息</title>
    <link rel="stylesheet" th:href="@{/css/element-ui/index.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/vue/vue.js}"></script>
    <script th:src="@{/js/element-ui/element.js}"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .el-header {
            height: auto !important;
        }
        .el-header .el-card .el-card__body{
            padding-bottom: 2px;
        }
        .table-container th, .table-container td {
            text-align: center;
        }
        .el-dialog__body {
            padding: 30px;
        }
        .el-dialog__wrapper .el-form-item__content {
            width: 50%;
        }
        .el-dialog__wrapper .el-form-item__content .el-select {
            width: 100%;
        }
        .global-operate {
            margin-bottom: 20px;
        }
        .global-operate .operate-btn {
            display: inline-block;
        }
        .global-operate .operate-btn + .operate-btn {
            margin-left: 16px;
        }
        .error-message {
            color: #F56C6C;
            font-size: 12px;
        }
        .el-dialog__body {
            max-height: 68vh;
            overflow: auto;
        }
        .amount-rate {
            position: absolute;
            width: 180px;
            margin-left: 10px;
        }
    </style>
</head>

<body>
<div id="page" v-cloak>
    <el-container>
        <el-header>
            <el-card>
                <el-form :inline="true" :model="searchFormData" ref="searchForm" size="mini">
                    <el-form-item label="客户账号" prop="customerCode">
                        <el-input v-model="searchFormData.customerCode"></el-input>
                    </el-form-item>
                    <el-form-item label="客户名称" prop="customerName">
                        <el-input v-model="searchFormData.customerName"></el-input>
                    </el-form-item>
                    <el-form-item label="联系方式" prop="contactInfo">
                        <el-input v-model="searchFormData.contactInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="归属人" prop="createBy" v-if="isAdmin">
                        <el-select v-model="searchFormData.createBy">
                            <el-option v-for="item in userList" :value="item.id" :label="item.name" :key="item.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" icon="el-icon-search" @click="search">搜索</el-button>
                        <el-button icon="el-icon-refresh" @click="resetSearch">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-header>

        <el-main>
            <el-card>
                <el-row class="global-operate">
                    <el-button size="mini" type="primary" @click="handleAdd()" class="operate-btn" icon="el-icon-plus">新增</el-button>
                    <el-button size="mini" type="primary" @click="downloadTemplate()" class="operate-btn" icon="el-icon-download">模板下载</el-button>
                    <el-upload
                            class="operate-btn"
                            :action="uploadAction()"
                            :with-credentials="true"
                            :limit = "1"
                            mulitiply
                            :show-file-list="false"
                            ref="uploadRef"
                            :on-error="uploadError"
                            :on-success="uploadSuccess">
                        <el-button slot="trigger" type="primary" size="mini" icon="el-icon-upload2">渠道客户信息上传</el-button>
                    </el-upload>
                    <el-button size="mini" type="danger" @click="handleAllDelete()" :disabled="selectedData.length === 0" class="operate-btn" icon="el-icon-delete">批量删除</el-button>
                    <el-button v-if="isAdmin" size="mini" type="warning" @click="handleMultipleUpdateCreateBy()" :disabled="selectedData.length === 0" class="operate-btn" icon="el-icon-user-solid">批量修改归属人</el-button>
                </el-row>

                <el-table
                        v-if="page && page.list"
                        :data="page.list"
                        v-loading="loading"
                        size="mini"
                        empty-text="抱歉，未查询到相关数据"
                        stripe
                        ref="multipleTable"
                        @select="handleSelect" 
                        @select-all="handleSelectAll"
                        :row-key="getRowKey"
                        class="table-container">
                    <el-table-column type="selection" width="45" :reserve-selection="true" :selectable="isSelectable"></el-table-column>
                    <el-table-column label="添加打款" width="120px">
                        <template slot-scope="scope">
                            <el-button :disabled="scope.row.status === 'audit'" size="mini" plain type="primary" icon="el-icon-money" @click="handleAddPayment(scope.row)">添加打款</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="customerCode" label="客户账号"></el-table-column>
                    <el-table-column prop="channelName" label="关联渠道"></el-table-column>
                    <el-table-column prop="customerName" label="客户名称"></el-table-column>
                    <el-table-column prop="contact" label="联系人"></el-table-column>
                    <el-table-column prop="contactInfo" label="联系方式"></el-table-column>
                    <el-table-column prop="createName" label="归属人" v-if="isAdmin"></el-table-column>
                    <el-table-column prop="status" label="状态" :formatter="formatterStatus"></el-table-column>
                    <el-table-column prop="auditRole" label="审核人" :formatter="formatterAuditRole"></el-table-column>
                    <el-table-column prop="createTime" label="创建时间" width="100px"></el-table-column>
                    <el-table-column label="操作" :width="isAdmin ? '330px': '190px'">
                        <template slot-scope="scope">
                            <el-button :disabled="scope.row.status === 'audit'" size="mini" plain icon="el-icon-edit-outline" @click="handleEdit(scope.row)">编辑</el-button>
                            <el-button :disabled="scope.row.status === 'audit'" size="mini" plain type="danger" icon="el-icon-delete" @click="handleDelete(scope.row.id)">删除</el-button>
                            <el-button :disabled="scope.row.status === 'audit'" v-if="isAdmin" size="mini" plain type="warning" icon="el-icon-user-solid" @click="handleUpdateCreateBy(scope.row.id)">修改归属人</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <el-row>
                    <el-col :xs="24" :sm="24" :md="24">
                        <div style="text-align:right;padding:10px">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="page.pageNum"
                                    :page-sizes="[10, 20, 30, 40]"
                                    :page-size="page.pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="page.total">
                            </el-pagination>
                        </div>
                    </el-col>
                </el-row>
            </el-card>
        </el-main>
    </el-container>

    <el-dialog title="渠道客户信息上传详情预览" :visible.sync="dialogVisibleUpload" @closed="cancelUpload()" width="96%" :close-on-click-modal="false" top="4vh">
        <el-table
                v-if="uploadPage && uploadPage.list"
                :data="uploadPage.list"
                v-loading="uploadLoading"
                size="mini"
                empty-text="抱歉，未查询到相关数据"
                stripe
                class="table-container">
            <el-table-column prop="customerCode" label="客户账号"></el-table-column>
            <el-table-column prop="channelName" label="关联渠道"></el-table-column>
            <el-table-column prop="customerName" label="客户名称"></el-table-column>
            <el-table-column prop="contact" label="联系人"></el-table-column>
            <el-table-column prop="contactInfo" label="联系方式"></el-table-column>
            <el-table-column prop="validateMsg" label="验证信息"></el-table-column>
        </el-table>
        <el-row v-if="dialogVisibleUpload">
            <el-col :xs="24" :sm="24" :md="24">
                <div style="text-align:right;padding:10px">
                    <el-pagination
                            @size-change="handleUploadSizeChange"
                            @current-change="handleUploadCurrentChange"
                            :current-page.sync="uploadPage.pageNum"
                            :page-sizes="[10, 20, 30, 40]"
                            :page-size.sync="uploadPage.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="uploadPage.total">
                    </el-pagination>
                </div>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelUpload()">取消上传</el-button>
            <el-button size="mini" type="primary" @click="confirmUpload()">确认上传</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑渠道客户信息" :visible.sync="dialogVisibleEdit" @closed="cancelEdit('editForm')" :close-on-click-modal="false" top="4vh">
        <el-form :model="editFormData" ref="editForm" :rules="editFormRules"  label-width="160px">
            <el-form-item label="客户账号" prop="customerCode">
                <el-input v-model="editFormData.customerCode"></el-input>
            </el-form-item>
            <el-form-item label="关联渠道" prop="channelId">
                <el-select v-model="editFormData.channelId" @change="changeCurChannel" filterable remote reserve-keyword :remote-method="channelRemoteMethod" :loading="channelRemoteLoading" placeholder="请输入关键词">
                    <el-option v-for="item in channelList" :label="item.channelName" :value="item.id" :key="item.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="渠道联系人">
                <el-input v-model="curChannel.contact" disabled></el-input>
            </el-form-item>
            <el-form-item label="渠道联系方式">
                <el-input v-model="curChannel.contactInfo" disabled></el-input>
            </el-form-item>
            <el-form-item label="新购佣金比例（%）">
                <el-input v-model="curChannel.newAmountRate" disabled></el-input>
            </el-form-item>
            <el-form-item label="续费佣金比例（%）">
                <el-input v-model="curChannel.renewAmountRate" disabled></el-input>
            </el-form-item>
            <el-form-item label="支付方式">
                <el-checkbox-group v-model="curChannel.paymentType" disabled>
                    <el-checkbox label="bank">银行卡</el-checkbox>
                    <el-checkbox label="other">其他</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="渠道银行账号" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('bank') > -1">
                <el-input v-model="curChannel.channelBankCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="渠道银行开户行" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('bank') > -1">
                <el-input v-model="curChannel.channelBankName" disabled></el-input>
            </el-form-item>
            <el-form-item label="支付账号" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('other') > -1">
                <el-input v-model="curChannel.paymentCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="客户名称" prop="customerName">
                <el-input v-model="editFormData.customerName"></el-input>
            </el-form-item>
            <el-form-item label="联系人" prop="contact">
                <el-input v-model="editFormData.contact"></el-input>
            </el-form-item>
            <el-form-item label="联系方式" prop="contactInfo">
                <el-input v-model="editFormData.contactInfo"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelEdit('editForm')">取消</el-button>
            <el-button size="mini" type="primary" @click="confirmEdit('editForm')">确定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="新增渠道客户信息" :visible.sync="dialogVisibleAdd" @closed="cancelAdd('addForm')" :close-on-click-modal="false" top="4vh">
        <el-form :model="addFormData" ref="addForm" :rules="addFormRules"  label-width="160px">
            <el-form-item label="客户账号" prop="customerCode">
                <el-input v-model="addFormData.customerCode"></el-input>
            </el-form-item>
            <el-form-item label="关联渠道" prop="channelId">
                <el-select v-model="addFormData.channelId" @change="changeCurChannel" filterable remote reserve-keyword :remote-method="channelRemoteMethod" :loading="channelRemoteLoading" placeholder="请输入关键词">
                    <el-option v-for="item in channelList" :label="item.channelName" :value="item.id" :key="item.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="渠道联系人">
                <el-input v-model="curChannel.contact" disabled></el-input>
            </el-form-item>
            <el-form-item label="渠道联系方式">
                <el-input v-model="curChannel.contactInfo" disabled></el-input>
            </el-form-item>
            <el-form-item label="新购佣金比例（%）">
                <el-input v-model="curChannel.newAmountRate" disabled></el-input>
            </el-form-item>
            <el-form-item label="续费佣金比例（%）">
                <el-input v-model="curChannel.renewAmountRate" disabled></el-input>
            </el-form-item>
            <el-form-item label="支付方式">
                <el-checkbox-group v-model="curChannel.paymentType" disabled>
                    <el-checkbox label="bank">银行卡</el-checkbox>
                    <el-checkbox label="other">其他</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="渠道银行账号" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('bank') > -1">
                <el-input v-model="curChannel.channelBankCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="渠道银行开户行" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('bank') > -1">
                <el-input v-model="curChannel.channelBankName" disabled></el-input>
            </el-form-item>
            <el-form-item label="支付账号" v-if="curChannel.paymentType && curChannel.paymentType.indexOf('other') > -1">
                <el-input v-model="curChannel.paymentCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="客户名称" prop="customerName">
                <el-input v-model="addFormData.customerName"></el-input>
            </el-form-item>
            <el-form-item label="联系人" prop="contact">
                <el-input v-model="addFormData.contact"></el-input>
            </el-form-item>
            <el-form-item label="联系方式" prop="contactInfo">
                <el-input v-model="addFormData.contactInfo"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelAdd('addForm')">取消</el-button>
            <el-button size="mini" type="primary" @click="confirmAdd('addForm')">确定</el-button>
        </div>
    </el-dialog>

    <el-dialog v-if="dialogVisibleAddPayment" title="添加打款" :visible.sync="dialogVisibleAddPayment" @closed="cancelAddPayment('addPaymentForm')" :close-on-click-modal="false" width="600px">
        <el-form :model="addPaymentFormData" ref="addPaymentForm" label-width="100px">
            <el-form-item label="客户账号" prop="customerCode" :rules="[{required: true, message: '请填写客户账号', trigger: 'blur'}]">
                <el-input v-model="addPaymentFormData.customerCode" disabled></el-input>
            </el-form-item>
            <el-form-item label="支付方式" prop="paymentType" :rules="[{required: true, message: '请选择支付方式', trigger: 'change'}]">
                <el-select v-model="addPaymentFormData.paymentType">
                    <el-option value="bank" label="银行卡" v-if="addPaymentFormData.paymentTypeOptions.indexOf('bank') > -1"></el-option>
                    <el-option value="other" label="其他" v-if="addPaymentFormData.paymentTypeOptions.indexOf('other') > -1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="新购金额" prop="newAmount" :rules="[{validator: validateAmount, trigger: 'blur'}]">
                <el-input v-model="addPaymentFormData.newAmount"></el-input>
                <span class="amount-rate">新购佣金比例{{addPaymentFormData.newAmountRate || 0}}%</span>
            </el-form-item>
            <el-form-item label="新购打款金额" prop="newPaymentAmount" :rules="[{validator: validateAmount, trigger: 'blur'}]">
                <el-input v-model="addPaymentFormData.newPaymentAmount"></el-input>
            </el-form-item>
            <el-form-item label="续费金额" prop="renewAmount" :rules="[{validator: validateAmount, trigger: 'blur'}]">
                <el-input v-model="addPaymentFormData.renewAmount"></el-input>
                <span class="amount-rate">续费佣金比例{{addPaymentFormData.renewAmountRate || 0}}%</span>
            </el-form-item>
            <el-form-item label="续费打款金额" prop="renewPaymentAmount" :rules="[{validator: validateAmount, trigger: 'blur'}]">
                <el-input v-model="addPaymentFormData.renewPaymentAmount"></el-input>
            </el-form-item>
            <el-form-item label="备注说明" prop="remark">
                <el-input v-model="addPaymentFormData.remark" type="textarea"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelAddPayment('addPaymentForm')">取消</el-button>
            <el-button size="mini" type="primary" @click="confirmAddPayment('addPaymentForm')">确定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="修改归属人" :visible.sync="dialogVisibleUpdateCreateBy" @closed="cancelUpdateCreateBy('updateCreateByForm')" :close-on-click-modal="false" width="500px">
        <el-form :model="updateCreateByFormData" ref="updateCreateByForm" label-width="100px">
            <el-form-item label="目标归属人" prop="targetCreateBy" :rules="[{required: true, message: '请选择目标归属人', trigger: 'change'}]">
                <el-select v-model="updateCreateByFormData.targetCreateBy">
                    <el-option v-for="item in userList" :value="item.id" :label="item.name" :key="item.id"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelUpdateCreateBy('updateCreateByForm')">取消</el-button>
            <el-button size="mini" type="primary" @click="confirmUpdateCreateBy('updateCreateByForm')">确定</el-button>
        </div>
    </el-dialog>
</div>

<script th:inline="javascript"> var ctx = [[@{/}]];</script>
<script>
var prefix = ctx + "system/channelCustomer";
var userPrefix = ctx + "system/user";
var customerManagePrefix = ctx + "system/customerManage";
var channelManagePrefix = ctx + "system/channelManage";
var paymentRecordPrefix = ctx + "system/paymentRecord";

var app = new Vue({
    el: "#page",
    data: function () {
        return {
            isAdmin: false, // 是否为管理员
            searchFormData: { // 搜索表单
                customerCode: '',
                customerName: '',
                contactInfo: '',
                createBy: ''
            },
            page: { // 列表
                pageNum: 1,
                pageSize: 10,
                total: 0,
                list: [],
            },
            loading: true, // 列表loading，默认开启
            dialogVisibleUpload: false, //  上传预览对话框是否显示，默认不显示
            uploadPage: { // 上传预览列表
                pageNum: 1,
                pageSize: 10,
                total: 0,
                list: [],
            },
            uploadLoading: true, // 上传预览列表loading, 默认开启
            dialogVisibleEdit: false, // 编辑对话框是否显示，默认不显示
            editFormData: { // 编辑表单
                customerCode: '',
                channelId: '',
                customerName: '',
                contact: '',
                contactInfo: '',
            },
            editFormRules: { // 编辑表单-验证规则
                customerCode: [{required: true, message: '请输入渠道客户名称', trigger: 'blur'}],
                channelId: [{required: true, message: '请选择关联渠道', trigger: ['change', 'blur']}],
            },
            dialogVisibleAdd: false, // 新增对话框是否显示，默认不显示
            addFormData: { // 新增表单
                customerCode: '',
                channelId: '',
                customerName: '',
                contact: '',
                contactInfo: '',
            },
            addFormRules: { // 新增表单-验证规则
                customerCode: [{required: true, message: '请输入渠道客户名称', trigger: 'blur'}],
                channelId: [{required: true, message: '请选择关联渠道', trigger: ['change', 'blur']}],
            },
            userList: [], // 用户列表
            dialogVisibleUpdateCreateBy: false, // 是否显示修改归属人弹框，默认不显示
            updateCreateByFormData: { // 修改归属人表单
                targetCreateBy: ''
            },
            dialogVisibleAddPayment: false, // 是否显示添加打款弹框，默认不显示
            addPaymentFormData: { // 添加打款弹框
                customerCode: '',
                paymentType: '',
                paymentTypeOptions: [],
                newAmount: '',
                newPaymentAmount: '',
                renewAmount: '',
                renewPaymentAmount: '',
                remark: ''
            },
            customerIds: [], // 即将进行修改归属人操作的客户ids
            selectedData: [], // 选中的数据
            channelRemoteLoading: false, // 根据名称查询渠道时loading
            channelList: [], // 渠道列表
            curChannel: {}, // 当前渠道
        }
    },
    mounted: function () {
        this.getAdminPermission();
        this.loadData();
        this.getUserList();
    },
    methods: {
        /**
         * 金额验证
         */
        validateAmount(rule, value, callback) {
            if (value) {
                var reg =  /^(([1-9]{1}\d*)|([0]{1}))(\.(\d){0,})?$/;
                if (!reg.test(value)) {
                    return callback(new Error('金额应为大于等于0的数字'));
                }
            }
            callback()
        },
        /**
         * 改变当前渠道
         */
        changeCurChannel(val) {
            const channel = this.channelList.filter(item => item.id === val)[0];
            let paymentType = channel.paymentType == 'all' ? ['bank', 'other'] : [channel.paymentType]
            this.curChannel = Object.assign(channel, {paymentType})
        },
        /**
         * 根据渠道名称模糊查询渠道列表
         */
        channelRemoteMethod(query) {
            if (query !== '') {
                this.channelRemoteLoading = true;
                setTimeout(() => {
                    $.ajax({
                        url: channelManagePrefix + '/queryChannelByUserAndName?channelName=' + query,
                        method: 'get',
                        error: () => {
                            console.log("请求出现错误");
                            this.channelRemoteLoading = false;
                            this.channelList = []
                        },
                        success: res => {
                            if(res.code === 0) {
                                this.channelList = res.data
                            } else {
                                this.channelList = []
                            }
                            this.channelRemoteLoading = false;
                        }
                    })
                }, 200);
            } else {
              this.channelList = [];
            }
        },
        /**
         * 获取数据表格key
         */
        getRowKey(row) {
            return row.id
        },
        /**
         * 判断当前用户是否为管理员
         * 是否显示归属人相关内容，默认不显示，管理员才显示
         */
        getAdminPermission: function () {
            var _this = this
            $.ajax({
                url: customerManagePrefix + '/adminPermission',
                method: 'get',
                error: function (request) {
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    if(res.data === true) {
                        _this.isAdmin = true
                    }
                }
            })
        },
         /**
         * 格式化状态
         */
        formatterStatus(row, column, cellValue, index) {
            let res = ''
            switch(cellValue) {
                case 'unchanged':
                    res = '未改变'
                    break
                case 'audit':
                    res =  '审核中'
                    break
                case 'refuse':
                    res =  '拒绝'
                    break
                case 'completed':
                    res =  '审核完成'
                    break
            }
            return res
        },
         /**
         * 格式化支付方式
         */
        formatterPaymentType(row, column, cellValue, index) {
            let res = ''
            switch(cellValue) {
                case 'bank':
                    res = '银行卡'
                    break
                case 'other':
                    res =  '其他'
                    break
                case 'all':
                    res =  '两种'
                    break
            }
            return res
        },
         /**
         * 格式化审核人
         */
        formatterAuditRole(row, column, cellValue, index) {
            let res = ''
            switch(cellValue) {
                case 'administrator':
                    res = '超级管理员'
                    break
                case 'admin':
                    res =  '管理员'
                    break
                default:
                    res = '--'
                    break
            }
            return res
        },
         /**
         * 改变支付方式：取消某种支付方式时，清空其对应的值
         */
        changePaymentType(val, formData) {
            if(val.indexOf('bank') == -1) {
                formData.channelBankCode = '';
                formData.channelBankName = '';
            }
            if(val.indexOf('other') == -1) {
                formData.paymentCode = '';
            }
        },
        /**
         * 加载信息列表
         */
        loadData: function () {
            var _this = this;
            var queryParam = {};
            queryParam.pageNum = _this.page.pageNum;
            queryParam.pageSize = _this.page.pageSize;
            $.ajax({
                url: prefix + "/customerList",
                method: "POST",
                data: Object.assign({}, queryParam, _this.searchFormData),
                dataType: "json",
                error: function (request) {
                    _this.loading = false;
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    if (res.code === 0) {
                        _this.page.list = res.rows;
                        _this.page.total = res.total;

                        let selectedDataIds = _this.selectedData.map(item => item.id)
                        let tableSelectionIds = _this.$refs.multipleTable.selection.map(item => item.id)
                        res.rows.forEach(item => {
                          if(selectedDataIds.includes(item.id) && !tableSelectionIds.includes(item.id)) {
                            _this.$refs.multipleTable.toggleRowSelection(item)
                          }
                        })
                    } else {
                        _this.$message.error(res.msg || "发生错误");
                    }
                    _this.loading = false;
                }
            });
        },
        /**
         * 信息列表-修改pageSize
         */
        handleSizeChange: function (val) {
            if (this.page) {
                this.page.pageSize = val;
            }
            this.loadData();
        },
        /**
         * 信息列表-修改pageNum
         */
        handleCurrentChange: function (val) {
            if (this.page) {
                this.page.pageNum = val;
            }
            this.loadData();
        },
        /**
         * 判断当前数据是否可选
         */
        isSelectable(row, index) {
          return row.status !== 'audit'
        },
        /**
         * 当用户手动勾选数据行的 Checkbox 时触发的事件
         */
        handleSelect(selection, row) {
          // 如果row在selection里面→增，如果row不在selection里面→减
          let selectionIncludeRow = selection.some(item => item.id === row.id)
          if(selectionIncludeRow) {// 增
            let alreadyExist = false
            for(let i = 0; i < this.selectedData.length; i++) {
              if(this.selectedData[i].id == row.id) {
                alreadyExist = true
                return
              }
            }
            if(!alreadyExist) {
              this.selectedData.push(row)
            }
          } else { // 减
            if(selection.length > 0) {
              this.selectedData = this.selectedData.filter(item => item.id !== row.id)
            } else {
              this.selectedData = []
            }
          } 
        },
        /**
         * 全选
         */
        handleSelectAll(selection){
          this.selectedData = Object.assign([], selection)
        },
         /**
         * 搜索：定位到第一页，每页10条；清空选中值
         */
        search: function () {
            this.page.pageNum = 1
            this.page.pageSize = 10
            this.selectedData = []
            this.$refs.multipleTable.clearSelection();
            this.loadData()
        },
        /**
         * 重置：清空搜索条件；定位到第一页，每页10条；清空选中值
         */
        resetSearch: function() {
            this.$refs['searchForm'].resetFields();
            this.search();
        },
        /**
         * 模板下载
         */
        downloadTemplate: function () {
            var aDom = document.createElement("a");
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("click", false, false);
            aDom.href = prefix + "/downloadCustomerExcel";
            aDom.dispatchEvent(evt);
            aDom.click();
        },
         /**
         * 设置上传action
         */
        uploadAction: function () {
            this.uploadPage.pageNum = 1
            this.uploadPage.pageSize = 10
            return prefix + "/uploadCustomerExcel"
        },
        /**
         * 上传成功
         */
        uploadSuccess: function(res,file,fileList) {
            if(res.code === 0) {
                this.loadUploadData()
                this.dialogVisibleUpload = true
            } else {
                this.$message.error(res.msg || '请求出现错误')
            }
            this.$refs.uploadRef.clearFiles();
        },
        /**
         * 上传失败
         */
        uploadError: function(err,file,fileList) {
            this.$message.error(JSON.parse(err.message).message  || '上传失败')
            this.$refs.uploadRef.clearFiles();
        },
        /**
         * 加载上传预览列表
         */
        loadUploadData: function () {
            var _this = this;
            var queryParam = {};
            queryParam.pageNum = _this.uploadPage.pageNum;
            queryParam.pageSize = _this.uploadPage.pageSize;
            $.ajax({
                url: prefix + "/customerExcelList",
                method: "POST",
                data: queryParam,
                dataType: "json",
                error: function (request) {
                    _this.uploadLoading = false;
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    if (res.code === 0) {
                        _this.uploadPage.list = res.rows;
                        _this.uploadPage.total = res.total;
                    } else {
                         _this.$message.error(res.msg || "发生错误");
                    }
                    _this.uploadLoading = false;
                }
            });
        },
        /**
         * 上传预览列表-修改pageSize
         */
        handleUploadSizeChange: function (val) {
            if (this.uploadPage) {
                this.uploadPage.pageSize = val;
            }
            this.loadUploadData();
        },
        /**
         * 上传预览列表-修改pageNum
         */
        handleUploadCurrentChange: function (val) {
            if (this.uploadPage) {
                this.uploadPage.pageNum = val;
            }
            this.loadUploadData();
        },
        /**
         * 确认上传
         */
        confirmUpload: function () {
            var _this = this
            $.ajax({
                url: prefix + "/saveCustomerExcel",
                method: "POST",
                error: function (request) {
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    if(res.code === 0) {
                        _this.dialogVisibleUpload = false
                        _this.resetSearch()
                    } else {
                        _this.$message.error(res.msg || "发生错误")
                    }
                }
            });
        },
        /**
         * 取消上传
         */
        cancelUpload: function () {
            this.dialogVisibleUpload = false
            this.uploadPage.list = [];
            this.uploadPage.total = 0;
            this.uploadPage.pageNum = 1;
            this.uploadPage.pageSize = 10;
        },
        /**
         * 点击“新增”
         */
        handleAdd() {
            this.curChannel = {};
            this.dialogVisibleAdd = true
        },
        /**
         * 取消新增
         */
        cancelAdd: function (formName) {
            this.dialogVisibleAdd = false
            this.$refs[formName].resetFields()
        },
        /**
         * 确认新增
         */
        confirmAdd: function (formName) {
            var _this = this

            _this.$refs[formName] && _this.$refs[formName].validate && _this.$refs[formName].validate(function (valid) {
                if(valid){
                    $.ajax({
                        url: prefix + "/addCustomerInfo",
                        method: "POST",
                        data: _this.addFormData,
                        dataType: "json",
                        error: function (request) {
                            _this.$message.error("请求出现错误");
                        },
                        success: function (res) {
                            if(res.code === 0) {
                                _this.dialogVisibleAdd = false
                                _this.resetSearch()
                            } else {
                                _this.$message.error(res.msg || '发生错误');
                            }
                        }
                    });
                }
            })
        },
        /**
         * 点击“编辑”
         */
        handleEdit: function (row) {
            this.curChannel = {};
            this.channelList = [];
            $.ajax({
                url: channelManagePrefix + '/queryChannelByUserAndName',
                method: 'get',
                error: () => {
                    console.log("请求出现错误");
                },
                success: res => {
                    if(res.code === 0) {
                        const data = res.data;
                        this.channelList = data || [];
                        if(Array.isArray(data)) {
                            let paymentType = [];
                            let channel = data.filter(item => item.id === row.channelId)[0]
                            if(channel && channel.paymentType) {
                                paymentType = channel.paymentType == 'all' ? ['bank', 'other'] : [channel.paymentType]
                            }
                            this.curChannel = Object.assign({}, channel, {paymentType})
                        }
                    }
                }
            })

            this.editFormData = Object.assign({}, row);
            this.dialogVisibleEdit = true
        },
        /**
         * 确认编辑
         */
        confirmEdit: function (formName) {
            var _this = this

            _this.$refs[formName] && _this.$refs[formName].validate && _this.$refs[formName].validate(function (valid) {
                if(valid){
                    $.ajax({
                        url: prefix + "/updateCustomerInfo",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(_this.editFormData),
                        dataType: "json",
                        error: function (request) {
                            _this.$message.error("请求出现错误");
                        },
                        success: function (res) {
                            if(res.code === 0) {
                                _this.dialogVisibleEdit = false
                                _this.resetSearch()
                            } else {
                                _this.$message.error(res.msg || '发生错误');
                            }
                        }
                    });
                }
            })
        },
         /**
         * 取消编辑
         */
        cancelEdit: function (formName) {
            this.dialogVisibleEdit = false
            this.$refs[formName].resetFields()
        },
        /**
         * 单条删除
         */
        handleDelete: function (id) {
            let _this = this
            _this.$confirm('确认要删除该数据吗？', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(function() {
                _this.confirmDelete([id]);
            }).catch(function() {
                console.log('取消删除操作')
            })
        },
         /**
         * 批量删除
         */
        handleAllDelete() {
            let _this = this
            console.log('选中的数据', [...new Set(_this.selectedData.map(item => item.id))])
            _this.$confirm(`确认要删除选中的数据吗？`, '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(function() {
                _this.confirmDelete([...new Set(_this.selectedData.map(item => item.id))])
            }).catch(function() {
                console.log('取消批量删除操作')
            })
        },
        /**
         * 确认删除
         */
        confirmDelete(ids) {
            let _this = this
            $.ajax({
                url: prefix + "/deleteCustomerInfo",
                method: 'POST',
                data: {'ids': ids},
                dataType: 'json',
                error: function (request) {
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    _this.resetSearch()
                }
            });
        },
        /**
         * 单条修改归属人
         */
        handleUpdateCreateBy(id) {
            this.customerIds = [id]
            this.dialogVisibleUpdateCreateBy = true;
        },
        /**
         * 批量修改归属人
         */
        handleMultipleUpdateCreateBy() {
            console.log('选中的数据', [...new Set(this.selectedData.map(item => item.id))]);
            this.customerIds = [...new Set(this.selectedData.map(item => item.id))];
            this.dialogVisibleUpdateCreateBy = true;
        },
       /**
        * 确认修改归属人
        */
        confirmUpdateCreateBy(formName) {
            var _this = this
            var param = {customerIds: this.customerIds, ...this.updateCreateByFormData}

            _this.$refs[formName] && _this.$refs[formName].validate && _this.$refs[formName].validate(function (valid) {
                if(valid){
                    $.ajax({
                        url: prefix + "/modifyCreateBy",
                        method: "POST",
                        data: param,
                        dataType: "json",
                         error: function (request) {
                            _this.$message.error("请求出现错误");
                        },
                        success: function (res) {
                             _this.dialogVisibleUpdateCreateBy = false;
                             _this.$refs.multipleTable.clearSelection()
                             _this.selectedData = []
                            _this.loadData()
                        }
                    });
                }
          })
        },
        /**
        * 取消修改归属人
        */
        cancelUpdateCreateBy(formName) {
            this.dialogVisibleUpdateCreateBy = false
            this.$refs[formName].resetFields()
        },
        /**
        * 查询用户列表
        */
        getUserList() {
            var _this = this;
            $.ajax({
                url: userPrefix + "/list",
                method: "POST",
                data: {},
                dataType: "json",
                error: function (request) {
                    _this.$message.error("请求出现错误");
                },
                success: function (res) {
                    _this.userList = res.rows || [];
                }
            });
        },
        /**
         * 点击“添加打款”
         */
        handleAddPayment(row) {
            this.addPaymentFormData = Object.assign(this.addPaymentFormData, {
                customerId: row.id,
                customerCode: row.customerCode,
                paymentType: row.paymentType === 'all' ? '' : row.paymentType,
                paymentTypeOptions: row.paymentType === 'all' ? ['bank', 'other'] : [row.paymentType],
                newAmountRate: row.newAmountRate,
                renewAmountRate: row.renewAmountRate,
                customerType: 'channel'
            })
            this.dialogVisibleAddPayment = true;
        },
        /**
         * 确认添加打款
         */
        confirmAddPayment(formName) {
            var _this = this
            let {paymentTypeOptions, newAmountRate, renewAmountRate, ...param} = _this.addPaymentFormData

            _this.$refs[formName] && _this.$refs[formName].validate && _this.$refs[formName].validate(function (valid) {
                if(valid){
                    $.ajax({
                        url: paymentRecordPrefix + "/addPaymentRecord",
                        method: "POST",
                        data: param,
                        dataType: "json",
                        error: function (request) {
                            _this.$message.error("请求出现错误");
                        },
                        success: function (res) {
                            if(res.code === 0) {
                                _this.dialogVisibleAddPayment = false
                                _this.$message.success(res.msg || '添加成功');
                            } else {
                                _this.$message.error(res.msg || '发生错误');
                            }
                        }
                    });
                }
            })
        },
        /**
         * 取消添加打款
         */
        cancelAddPayment(formName) {
            this.dialogVisibleAddPayment = false
            this.$refs[formName].resetFields()
        },
    }
});
</script>
</body>
</html>