<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.system.mapper.sys.UserRoleRelMapper">
    
    <resultMap type="UserRoleRel" id="UserRoleRelResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>
	
	<sql id="selectUserRoleRelVo">
        select id, user_id, role_id from sys_user_role_rel
    </sql>
	
    <select id="selectUserRoleRelList" parameterType="UserRoleRel" resultMap="UserRoleRelResult">
        <include refid="selectUserRoleRelVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
         </where>
    </select>
    
    <select id="selectUserRoleRelById" parameterType="Long" resultMap="UserRoleRelResult">
        <include refid="selectUserRoleRelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserRoleRel" parameterType="UserRoleRel">
        insert into sys_user_role_rel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="roleId != null  ">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="roleId != null  ">#{roleId},</if>
         </trim>
    </insert>
	 
    <update id="updateUserRoleRel" parameterType="UserRoleRel">
        update sys_user_role_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="roleId != null  ">role_id = #{roleId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUserRoleRelById" parameterType="Long">
        delete from sys_user_role_rel where id = #{id}
    </delete>
	
    <delete id="deleteUserRoleRelByIds" parameterType="Long">
        delete from sys_user_role_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteUserRoleRelByUid" >
         delete from sys_user_role_rel where user_id =#{uid}
    </delete>

</mapper>