<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deloitte.system.mapper.customer.ChannelCustomerInfoExcelMapper">
    <resultMap id="BaseResultMap" type="com.deloitte.system.model.customer.ChannelCustomerInfoExcel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_code" property="customerCode" jdbcType="VARCHAR"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="contact" property="contact" jdbcType="VARCHAR"/>
        <result column="contact_info" property="contactInfo" jdbcType="VARCHAR"/>
        <result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
        <result column="channel_id" property="channelId" jdbcType="BIGINT"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="disable_flag" property="disableFlag" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="validate_msg" property="validateMsg" jdbcType="VARCHAR"/>
        <result column="validate_flag" property="validateFlag" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, customer_code, customer_name, contact, contact_info, channel_name, channel_id, 
    create_by, create_time, update_by, update_time, disable_flag, delete_flag, validate_msg, 
    validate_flag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from channel_customer_info_excel
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from channel_customer_info_excel
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.deloitte.system.model.customer.ChannelCustomerInfoExcel">
    insert into channel_customer_info_excel (id, customer_code, customer_name, 
      contact, contact_info, channel_name, 
      channel_id, create_by, create_time, 
      update_by, update_time, disable_flag, 
      delete_flag, validate_msg, validate_flag
      )
    values (#{id,jdbcType=BIGINT}, #{customerCode,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{contactInfo,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{disableFlag,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=INTEGER}, #{validateMsg,jdbcType=VARCHAR}, #{validateFlag,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.deloitte.system.model.customer.ChannelCustomerInfoExcel">
        insert into channel_customer_info_excel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="customerCode != null">
                customer_code,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="contactInfo != null">
                contact_info,
            </if>
            <if test="channelName != null">
                channel_name,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="disableFlag != null">
                disable_flag,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="validateMsg != null">
                validate_msg,
            </if>
            <if test="validateFlag != null">
                validate_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="customerCode != null">
                #{customerCode,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="contactInfo != null">
                #{contactInfo,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null">
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disableFlag != null">
                #{disableFlag,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="validateMsg != null">
                #{validateMsg,jdbcType=VARCHAR},
            </if>
            <if test="validateFlag != null">
                #{validateFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.deloitte.system.model.customer.ChannelCustomerInfoExcel">
        update channel_customer_info_excel
        <set>
            <if test="customerCode != null">
                customer_code = #{customerCode,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="contactInfo != null">
                contact_info = #{contactInfo,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null">
                channel_name = #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disableFlag != null">
                disable_flag = #{disableFlag,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="validateMsg != null">
                validate_msg = #{validateMsg,jdbcType=VARCHAR},
            </if>
            <if test="validateFlag != null">
                validate_flag = #{validateFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.deloitte.system.model.customer.ChannelCustomerInfoExcel">
    update channel_customer_info_excel
    set customer_code = #{customerCode,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_info = #{contactInfo,jdbcType=VARCHAR},
      channel_name = #{channelName,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      disable_flag = #{disableFlag,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      validate_msg = #{validateMsg,jdbcType=VARCHAR},
      validate_flag = #{validateFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <delete id="deleteByCreateBy" parameterType="Long">
    delete from channel_customer_info_excel where create_by = #{createBy,jdbcType=BIGINT}
  </delete>

    <select id="selectList" parameterType="com.deloitte.system.model.customer.ChannelCustomerInfoExcel"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from channel_customer_info_excel
        <where>
            <if test="customerCode != null and customerCode != '' ">and customer_code like
                concat('%', #{customerCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="customerName != null and customerName != '' ">and customer_name like concat('%',
                #{customerName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="contact != null and contact != '' ">and contact like concat('%', #{contact,jdbcType=VARCHAR},
                '%')
            </if>
            <if test="contactInfo != null and contactInfo != '' ">and contact_info like
                concat('%', #{contactInfo,jdbcType=VARCHAR}, '%')
            </if>
            <if test="createBy != null">and create_by = #{createBy,jdbcType=BIGINT}</if>
            <if test="validateFlag != null">and validate_flag = #{validateFlag,jdbcType=INTEGER}</if>
        </where>
    </select>

</mapper>