<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deloitte.system.mapper.customer.GiveRecordExcelMapper" >
  <resultMap id="BaseResultMap" type="com.deloitte.system.model.customer.GiveRecordExcel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="donee_name" property="doneeName" jdbcType="VARCHAR" />
    <result column="account_info" property="accountInfo" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="validate_msg" property="validateMsg" jdbcType="VARCHAR" />
    <result column="validate_flag" property="validateFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_code, customer_id, customer_type, donee_name, account_info, amount, 
    remark, create_by, create_time, validate_msg, validate_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from give_record_excel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from give_record_excel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.deloitte.system.model.customer.GiveRecordExcel" >
    insert into give_record_excel (id, customer_code, customer_id, 
      customer_type, donee_name, account_info, 
      amount, remark, create_by, 
      create_time, validate_msg, validate_flag
      )
    values (#{id,jdbcType=BIGINT}, #{customerCode,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, 
      #{customerType,jdbcType=VARCHAR}, #{doneeName,jdbcType=VARCHAR}, #{accountInfo,jdbcType=VARCHAR}, 
      #{amount,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{validateMsg,jdbcType=VARCHAR}, #{validateFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deloitte.system.model.customer.GiveRecordExcel" >
    insert into give_record_excel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="doneeName != null" >
        donee_name,
      </if>
      <if test="accountInfo != null" >
        account_info,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="validateMsg != null" >
        validate_msg,
      </if>
      <if test="validateFlag != null" >
        validate_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="doneeName != null" >
        #{doneeName,jdbcType=VARCHAR},
      </if>
      <if test="accountInfo != null" >
        #{accountInfo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validateMsg != null" >
        #{validateMsg,jdbcType=VARCHAR},
      </if>
      <if test="validateFlag != null" >
        #{validateFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deloitte.system.model.customer.GiveRecordExcel" >
    update give_record_excel
    <set >
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="doneeName != null" >
        donee_name = #{doneeName,jdbcType=VARCHAR},
      </if>
      <if test="accountInfo != null" >
        account_info = #{accountInfo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validateMsg != null" >
        validate_msg = #{validateMsg,jdbcType=VARCHAR},
      </if>
      <if test="validateFlag != null" >
        validate_flag = #{validateFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deloitte.system.model.customer.GiveRecordExcel" >
    update give_record_excel
    set customer_code = #{customerCode,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      customer_type = #{customerType,jdbcType=VARCHAR},
      donee_name = #{doneeName,jdbcType=VARCHAR},
      account_info = #{accountInfo,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      validate_msg = #{validateMsg,jdbcType=VARCHAR},
      validate_flag = #{validateFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteByCreateBy" parameterType="Long">
    delete from give_record_excel where create_by = #{createBy,jdbcType=BIGINT}
  </delete>

  <select id="selectList" parameterType="com.deloitte.system.model.customer.GiveRecordExcel" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from give_record_excel
    <where>
      <if test="doneeName != null and doneeName != '' " >and  donee_name like concat('%', #{doneeName,jdbcType=VARCHAR}, '%')</if>
      <if test="accountInfo != null and accountInfo != '' " >and account_info like concat('%', #{accountInfo,jdbcType=VARCHAR}, '%') </if>
    </where>
  </select>
</mapper>