
        <div class="ico-list">
            <i class="el-icon-platform-eleme" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-eleme" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-delete-solid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-delete" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-tools" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-setting" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-user-solid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-user" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-phone" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-phone-outline" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-more" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-more-outline" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-star-on" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-star-off" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-goods" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-plus" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-check" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-close" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-picture" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-picture-outline" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-picture-outline-round" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-upload" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-upload2" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-download" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-camera-solid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-camera" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-video-camera-solid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-video-camera" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-message-solid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bell" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-cooperation" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-order" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-platform" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-fold" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-unfold" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-operation" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-promotion" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-home" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-release" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-ticket" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-management" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-open" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-shop" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-marketing" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-flag" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-comment" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-finance" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-claim" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-custom" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-opportunity" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-data" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-check" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-s-grid" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-menu" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-share" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-d-caret" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-caret-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-caret-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-caret-bottom" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-caret-top" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bottom-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bottom-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-back" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bottom" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-top" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-top-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-top-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="fa-taxi" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-arrow-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-arrow-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-arrow-down" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-arrow-up" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-d-arrow-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-d-arrow-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-video-pause" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-video-play" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-refresh" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-refresh-right" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-refresh-left" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-finished" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sort" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sort-up" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sort-down" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-rank" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-loading" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-view" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-c-scale-to-original" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-date" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-edit" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-edit-outline" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder-opened" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder-add" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder-remove" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder-delete" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-folder-checked" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-tickets" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document-remove" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document-delete" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document-copy" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document-checked" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-document-add" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-printer" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-paperclip" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-takeaway-box" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-search" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-monitor" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-attract" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-mobile" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-scissors" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-umbrella" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-headset" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-brush" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-mouse" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-coordinate" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-magic-stick" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-reading" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-data-line" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-data-board" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-pie-chart" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-data-analysis" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-collection-tag" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-film" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-suitcase" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-suitcase-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-receiving" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-collection" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-files" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-notebook-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-notebook-2" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-toilet-paper" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-office-building" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-school" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-table-lamp" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-house" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-no-smoking" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-smoking" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-shopping-cart-full" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-shopping-cart-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-shopping-cart-2" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-shopping-bag-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-shopping-bag-2" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sold-out" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sell" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-present" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-box" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bank-card" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-money" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-coin" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-wallet" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-discount" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-price-tag" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-news" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-guide" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-male" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-female" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-thumb" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-cpu" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-link" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-connection" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-open" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-turn-off" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-set-up" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-round" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-line-round" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-square" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-dot-round" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-dot-square" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chat-line-square" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-message" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-postcard" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-position" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-turn-off-microphone" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-microphone" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-close-notification" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bangzhu" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-time" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-odometer" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-crop" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-aim" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-switch-button" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-full-screen" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-copy-document" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-mic" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-stopwatch" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-medal-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-medal" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-trophy" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-trophy-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-first-aid-kit" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-discover" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-place" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-location" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-location-outline" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-location-information" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-add-location" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-delete-location" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-map-location" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-alarm-clock" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-timer" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-watch-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-watch" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-lock" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-unlock" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-key" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-service" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-mobile-phone" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-bicycle" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-truck" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ship" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-basketball" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-football" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-soccer" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-baseball" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-wind-power" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-light-rain" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-lightning" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-heavy-rain" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sunrise" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sunrise-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sunset" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sunny" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-cloudy" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-partly-cloudy" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-cloudy-and-sunny" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-moon" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-moon-night" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-dish" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-dish-1" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-food" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-chicken" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-fork-spoon" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-knife-fork" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-burger" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-tableware" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-sugar" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-dessert" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ice-cream" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-hot-water" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-water-cup" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-coffee-cup" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-cold-drink" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-goblet" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-goblet-full" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-goblet-square" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-goblet-square-full" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-refrigerator" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-grape" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-watermelon" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-cherry" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-apple" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-pear" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-orange" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-coffee" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ice-tea" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ice-drink" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-milk-tea" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-potato-strips" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-lollipop" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ice-cream-square" aria-hidden="true"  @click="chooseIcon"></i>

            <i class="el-icon-ice-cream-round" aria-hidden="true"  @click="chooseIcon"></i>

        </div>
